<!-- Header -->
<header class="nav-container">
  <div class="nav-inner">
    <h1 class="brand">Luke Tucich | ITIS-3135</h1>
    <nav class="nav-bar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="introduction.html">About Me</a></li>
        <li><a href="intro_form.html">Introduction Form</a></li>
        <li><a href="contract.html">Contract</a></li>
        <li><a href="website_evaluations.html">Evaluations</a></li>
        <li><a href="fccfsjs_outline.html">FCC JS Outline</a></li>
        <li><a href="project_overview.html">Project Overview</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Secondary Navigation -->
<nav class="secondary-nav">
  <div class="secondary-nav-inner">
    <ul>
      <li>
        <a href="lukesweb.dev/index.html" target="_blank">Luke's Web Dev</a>
      </li>
      <li>
        <a href="lukesweb.dev/loyaltamarin.shop/" target="_blank"
          >Loyal Tamarin</a
        >
      </li>
      <li>
        <a href="stuff/MY PAGE & FILE.htm" target="_blank">Crappy Webpage</a>
      </li>
      <li>
        <a href="hobby/index.html" target="_blank">Hobby</a>
      </li>
    </ul>
  </div>
</nav>
